<div class="card mb-3">
    <div class="card-header">
        {{server.model}}
    </div>

    <div class="card-body">
        <ul>
            <li>RAM: {{server.ram.memory}}{{server.ram.unit}} {{server.ram.type}}</li>
            <li>HDD: {{server.hdd.count}}x {{server.hdd.memory}}{{server.hdd.unit}} {{server.hdd.type}}</li>
            <li>Location: {{server.location}}</li>
        </ul>
    </div>

    <div class="card-footer">
        Price: {{server.price.amountCents | amountCents | currency:server.price.currency}}
    </div>
</div>
