<form *ngIf="ready" [formGroup]="filtersForm">
    <div class="filter-container">
        <div class="filter-name">Storage</div>
        <ng5-slider [options]="sliderOptions" formControlName="storage"></ng5-slider>
    </div>

    <div class="filter-container">
        <div class="filter-name">RAM</div>
        <div *ngFor="let size of filtersForm.get('ram').controls; let i = index;"
             class="form-check"
             formArrayName="ram"
        >
            <input [formControlName]="i" [id]="'ram' + filtersOptions.ram[i]" type="checkbox">
            <label [attr.for]="'ram' + filtersOptions.ram[i]" class="form-check-label">
                {{filtersOptions.ram[i]}} GB
            </label>
        </div>
    </div>

    <div class="filter-container">
        <div class="filter-name">HDD</div>
        <select class="form-control" formControlName="hdd">
            <option [ngValue]="null">Every type</option>
            <option
                    *ngFor="let l of filtersOptions.hdd"
                    [ngValue]="l"
            >{{l}}</option>
        </select>
    </div>

    <div class="filter-container">
        <div class="filter-name">Location</div>
        <select class="form-control" formControlName="location">
            <option [ngValue]="null">Every location</option>
            <option
                    *ngFor="let l of filtersOptions.location"
                    [ngValue]="l"
            >{{l}}</option>
        </select>
    </div>

</form>

