<div *ngIf="state$ | async as state;" class="row">
    <ng-container *ngIf="state.ready; else loader">
        <ng-container *ngIf="!state.errorMessage; else errorBox">
            <div class="col-md-3">
                <div class="sticky-top">
                    <app-server-filters></app-server-filters>
                </div>
            </div>

            <div class="col-md-9">
                <ng-container *ngIf="state.filteredServersCount; else noResults">
                    <div class="text-right">Listing {{state.filteredServersCount}} of {{state.serversCount}} servers
                        found.
                    </div>
                    <app-server
                            *ngFor="let s of state.servers.servers"
                        [server]="s"
                    ></app-server>
                </ng-container>
                <ng-template #noResults>
                    <app-error-box [message]="'Sorry! No results matching your filters.'"></app-error-box>
                </ng-template>
            </div>
        </ng-container>
        <ng-template #errorBox>
            <div class="col-sm-12" style="margin-top: 50px;">
                <div class="container-center">
                    <app-error-box [message]="state.errorMessage"></app-error-box>
                </div>
            </div>
        </ng-template>
    </ng-container>
    <ng-template #loader>
        <div class="col-sm-12 text-center pt-5">
            <div class="container-center">
                <app-loader></app-loader>
            </div>
        </div>
    </ng-template>
</div>


