<div class="row">
    <div class="col-md-3">

        <div class="sticky-top">
            <div class="filter-container">
                <h4>Storage</h4>
                <app-storage-filter></app-storage-filter>
            </div>

            <div class="filter-container">
                <h4>RAM</h4>
                <app-sl-ram-filter></app-sl-ram-filter>
            </div>

            <div class="filter-container">
                <h4>HDD</h4>
                <app-sl-hdd-filter></app-sl-hdd-filter>
            </div>

            <div class="filter-container">
                <h4>Location</h4>
                <app-sl-location-filter></app-sl-location-filter>
            </div>
        </div>

    </div>

    <div class="col-md-9">
        <ng-container *ngIf="(state$ | async).servers">
            <div class="text-right">You are watching {{(state$ | async).serversCount}}
                of {{(state$ | async).filteredServersCount}} servers found.
            </div>
            <app-server
                    *ngFor="let s of (state$ | async).servers.servers"
                    [server]="s"
            ></app-server>
        </ng-container>
    </div>
</div>



